<h1>exercise</h1>

<table>
     <tr> <label for="post_title"> Sentences</label> </tr>

          <% if @word.vocabulary == 1 %>
             <tr>
                <td> <%= @word.id %>   </td>
                <td> <%= @word.word %>   </td>

          <% end %>
                <td> <%= text_field(:post, :size => 20)%></td>
             </tr>



      <%= submit_tag "Test me!", :type => 'button', :onclick => 'alert("It works!")' %>


</table>